<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Titillium+Web:200,400&display=swap" rel="stylesheet">
    <title>TO DO...</title>
</head>

<body>
    <div class="container">
        <header>


            <a href="/">
                <div class="logo-container">
                    <!-- Used boxes and grid system to correct spacing/alignment -->
                    <p class="box1">T</p>
                    <p class="box2">O</p>
                    <p class="box3">D</p>
                    <p class="box4">O</p>
                </div>
            </a>


            <nav>
                <ul class="nav-list">
                    <li><a href="/general">General</a></li>
                    <li><a href="#">Family</a></li>
                    <li><a href="#">Work</a></li>
                    <li class="list-title--new"><a href="#">[create new list]</a>
                    </li>
                </ul>
            </nav>
        </header>