* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $darkteal;
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
}

::selection {
  background-color: $pink;
  color: $yellow;
}
