* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
}

::-moz-selection {
  background-color: #bc4873;
  color: #e9e6c9;
}

::selection {
  background-color: #bc4873;
  color: #e9e6c9;
}

header {
  padding: 0.5em;
  font-size: 5rem;
  font-weight: bold;
  background-color: #003f5c;
  color: #e9e6c9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  grid-area: header;
}

a {
  color: #e9e6c9;
  text-decoration: none;
}

a:hover {
  color: #bc4873;
}

.logo-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "box1 box2" "box3 box4";
  font-family: "Open Sans", sans-serif;
  font-size: 7rem;
  letter-spacing: 20px;
  line-height: 1;
  border-bottom: 3px solid #7a7a7a;
}

.box1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: box1;
}

.box2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: box2;
}

.box3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: box3;
}

.box4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: box4;
}

.box4::after {
  content: "//";
  color: #bc4873;
}

.container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header list" "header list" "header list" "header list" "header list";
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  height: 100vh;
}

.nav-list {
  padding: 1em 0;
  font-size: 2rem;
  list-style: none;
}

.nav-list a {
  color: #bc4873;
  text-decoration: none;
}

.nav-list a::before {
  content: "//";
  color: #e9e6c9;
  padding-right: 5px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
}

.nav-list li {
  padding: 0.5em;
}

.nav-list li:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.list-title--new {
  font-weight: 200;
}

.list-container {
  background-color: #e9e6c9;
  height: 100vh;
  color: #bc4873;
}

.list-container .list-title {
  background-color: #bc4873;
  font-size: 2.5rem;
  color: #e9e6c9;
  text-shadow: 2px 2px 0 #003f5c;
  padding: 0.5em;
}

.list-container .list-title::before {
  content: "//";
  color: #003f5c;
  padding-right: 5px;
  text-shadow: none;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 3px;
}

.list, .new-item {
  color: #003f5c;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 2;
  grid-area: list;
  list-style: none;
  padding: 1em;
  font-size: 1.5rem;
}

.list li, .new-item li {
  display: inline;
}

.list input, .new-item input {
  outline: none;
  border: none;
  background-color: #e9e6c9;
  color: #003f5c;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  width: 100%;
}

.list input[type=checkbox], .new-item input[type=checkbox] {
  display: none;
}

.checkbox {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 15px;
  left: 0;
  background-color: #bc4873;
  border-radius: 2px;
}

.checkbox--add {
  height: 40px;
  width: 40px;
  color: #e9e6c9;
  font-size: 2rem;
  border: none;
}

.sublist {
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sublist input {
  color: rgba(0, 63, 92, 0.7);
}

.sublist .checkbox {
  background-color: #003f5c;
}

.list-item {
  position: relative;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2em;
  width: calc(100% - 60px);
}

.list-item--new {
  border-bottom: 3px solid #bc4873;
  height: 3em;
  padding-left: 50px;
}

.list-item--new input {
  color: #bc4873;
}

.list-item--new input::-webkit-input-placeholder {
  color: #7a7a7a;
}

.list-item--new input:-ms-input-placeholder {
  color: #7a7a7a;
}

.list-item--new input::-ms-input-placeholder {
  color: #7a7a7a;
}

.list-item--new input::placeholder {
  color: #7a7a7a;
}

.item-collection {
  border-bottom: 1px solid rgba(0, 63, 92, 0.1);
  padding: 0.5em 0;
}

footer p {
  position: fixed;
  right: 1em;
  bottom: 1em;
  background-color: #e9e6c9;
  color: #003f5c;
}
/*# sourceMappingURL=main.css.map */